import(devEMF)
import(officer)
import(flextable)
import(Rcpp)
import(shiny)
import(shinydashboard)
import(shinyMatrix)
importFrom("Rcpp", "evalCpp")
importFrom("grDevices", "dev.off")
importFrom("graphics", "abline", "axis", "mtext", "lines", "polygon")
importFrom("stats", "qnorm", "pgamma", "quantile", "rgamma")
export(ModuleA)
export(ModuleAC)
export(ModuleAReport)
export(ModuleAReportDoc)
export(ModuleAApp)
export(ModuleB)
export(ModuleBC)
export(ModuleBReport)
export(ModuleBReportDoc)
export(ModuleBApp)
export(ModuleC)
export(ModuleCC)
export(ModuleCReport)
export(ModuleCReportDoc)
export(ModuleCApp)
export(ModuleD)
export(ModuleDC)
export(ModuleDReport)
export(ModuleDReportDoc)
export(ModuleDApp)
export(ModuleE)
export(ModuleER)
export(ModuleEEventCount)
export(ModuleEReport)
export(ModuleEReportDoc)
export(ModuleEApp)
export(ModuleEPriorDistribution)
useDynLib(MedianaADT, .registration = TRUE)

